body{
    margin:10px 25px 10px 25px;
    text-align: justify;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.5;
}

header{
    position: fixed; 
    top: 0;
    left: 0;
    width:100vw;
    margin-bottom: 20px;
}

.primeira{
    padding-top: 70px;
}


.conteudo{
    padding-top: 70px;
    margin-top: -70px;
}

nav{
    background-color: burlywood;
    padding:0 20px; /*horizontal vertical*/
    justify-content: space-between;
    align-items: center;
    
    
}

.ateliere{
    /*color:peru;
    font-size:20px; COMO TROCAMOS O TEXTO DO NOME PELA LOGO, PODEMOS TIRAR ESSA PARTE DE COR E TAMANHO DE FONTE*/
    margin:0;
    padding:10px;
    
}

ul{
    list-style: none; /*tira ícone da lista*/
    padding:0;
    overflow:hidden; /*para esconder os ítens do menu quando não tiver extendido*/
    transition: all .5s; /*para a transição ser mais suave e orgânica ao extender a barra*/
    
}

nav, ul{
display:flex;
direction: row; /*coloca em linha*/
}

.nav-item{
    padding:0 20px; /*para cada ítem do menu ter o padding e assim ficam sepaçados entre si*/
    
}

.nav-link{
    color:antiquewhite;
    text-decoration: none;
}

button{
    background-color: transparent;
    border:none;
    color:blanchedalmond;
    font-size: 36px;
    position:absolute;
    right: 10px;
    top: 10px;
    display:none; /*faz não aparecer*/
    }

.nav-item:hover, button:hover{
    cursor:pointer;
    opacity: 0,8;
    background-color: peru;
}


/*para ter responsividade em outro tamanho de tela*/

button:focus ~ ul {    /*quando o botão receber o foco, a ul vai ter a altura determinada aqui*/
    height: 213px;
}

@media(max-width:700px) {
    nav, ul {
        flex-direction: column; /*para mudar direção da listagem*/
        
    }
    ul{
        text-align: center;
        margin:0;
        height: 0;
        
    }
    nav{
        padding:0;
        align-items: flex-start;
    }

    .ateliere{
        margin:10px;
        
    }
    .nav-item, ul{
        width:100vw; /*para o hover poder ficar na largura da tela toda*/
      
    }

    .nav-item{
        padding:6px;

    }
   
    button{
        display:flex;
    }
}

h2 {
    color: #efa900;
    font-weight: bold;
}




/*alinhamento da imagem com texto*/
.quem-somos {
    display: flex;
    align-items: center;
    font-size: 1.7vw; 
    /* font-weight: bold; */
}

.quem-somos img, p {
    display: inline-block;
    margin:10px;
    padding: 5px; 
}

.historico {
    display: flex;
    align-items: center;
     
    /* font-weight: bold; */
}

.paragrafo-historico{
    font-size: 2vw;
}

.historico p {
    display: inline-block;
    margin:10px;
    padding: 5px;
    font-size: 5vw; 
}


/*alinhamento da imagem com texto fragmentação do bloco  monitoria*/
.valores div{
    display: flex;
    font-size: 1.7vw; 
}

.valores div div{
    margin:10px;
    padding: 5px;
}

/*footer{
    line-height: 50px;
    height: 40px;
    padding: 28px;
}

footer  {
    float: right;
    display: table;
}
    
footer {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}*/

/*novo rodapé:*/
footer img{
    width: 47px;
    height: 47px;
    padding: 10px;
}

.rodape__logo{
    width:150px ;
    padding: 10px;
}
.rodape{
    display: flex;
    justify-content: space-between;
}